In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [0]:
from fastai.text import *

In [0]:
bs = 10
path = '/content/drive/My Drive/Datasets/Liar'
data_lm = TextLMDataBunch.from_csv(path, 'trainfinal.csv', text_cols = 1)

In [0]:
data_lm.show_batch()

In [0]:
learn_m = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)

In [0]:
learn_m.lr_find()

In [0]:
learn_m.recorder.plot(skip_end=15)

In [0]:
learn_m.fit_one_cycle(1, 1e-2)

In [0]:
learn_m.save('binlangmodel_lmf_1_e1')

In [0]:
learn_m.load('binlangmodel_lmf_1_e1');

In [0]:
learn_m.fit_one_cycle(3,1e-2)

In [0]:
learn_m.save('binlangmodel_lmf_1_e4')

In [0]:
learn_m.save_encoder('binlangmodel_lmf_1_e4_enc')

classifier

In [0]:
data_path = '/content/drive/My Drive/Datasets/Liar/'
data_clas = TextClasDataBunch.from_csv(data_path, 'trainfinal.csv', text_cols=1, label_cols=2, vocab = data_lm.train_ds.vocab,bs=32)
data_clas.save('data_clas_bin_lmf_csv.pkl')

In [0]:
path ='/content/drive/My Drive/Datasets/Liar'
data_clas = load_data(path, 'data_clas_bin_lmf_csv.pkl', bs=16)

In [0]:
data_clas.show_batch()

In [0]:
learn_bin = text_classifier_learner(data_clas, AWD_LSTM, drop_mult=0.5)
learn_bin.load_encoder('binlangmodel_lmf_1_e4_enc')

In [0]:
learn_bin.recorder.plot()

In [0]:
learn_bin.fit_one_cycle(1, 1e-2)

In [0]:
learn_bin.save('classifier_bin_lmf_1_e1')

In [0]:
learn_bin.load('classifier_bin_lmf_1_e1');

In [0]:
learn_bin.freeze_to(-2)
learn_bin.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [0]:
learn_bin.unfreeze()
learn_bin.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [0]:
learn_bin.save('classifier_bin_lmf_1_e3')

In [0]:
learn_bin.load('classifier_bin_lmf_1_e3');

In [0]:
learn_bin.unfreeze()
learn_bin.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [0]:
learn_bin.save('classifier_bin_lmf_1_e4')

In [0]:
learn_bin.predict("Seven of Americas 10 wealthiest counties are in the Washington, D.C., area.")